{
  "botName": "Bot name (nick)",
  "password": "NickServ password (remove to disable)",
  "channels": [
    "#ed-209-arena"
  ],
  "server": "irc.freenode.net",
  "ssl": false,
  "port": 6667,
  "sasl": false,
  "flood": {
    "protection": true,
    "delay": 500
  },
  "debug": false,
  "api_keys": {
    "imgur_client_id" : "62cfa9f704c3945"
  }
}
