{
  "botName": "Bot name (nick)",
  "password": "NickServ password (remove to disable)",
  "channels": [
    "#bobot"
  ],
  "server": "irc.freenode.net",
  "flood": {
    "protection": true,
    "delay": 500
  },
  "api_key": "SEKRET"
}
